doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title The web site is under construction


        style(type='text/css').
            body {
                color: #444444; background-color: #E5F2FF; font-family: verdana; margin: 0px;
            }
            #PageOutline {
                text-align: center; margin-top: 300px;
            }
            a {
                color: #0153A4;
            }
            h1 {
                font-size: 16pt; margin-bottom: 4px;
            }
            h2 {
                font-size: 14pt; margin-bottom: 4px; font-weight: normal;
            }
        meta(name="robots", content="noindex,nofollow")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width")
    body
        #PageOutline
            h1 This web site has just been created from <a href="http://www.dotnetpanel.com">DotNetPanel</a> and it is still under construction.
            p #{revDate}
