doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="globalsign-domain-verification", content="N55BJQv6hqhxoyCQYY0PacbLTizKUDIJTcbu_-8YMy") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="The Bortosky Family of Missouri")
        meta(name="viewport", content="width=device-width")
        title Bortosky.com
        link(rel="stylesheet", type="text/css", href="css/style.css")
    body
        section#services
            artile.box
                h2 POTATOES
                p Before we started doing this stuff, we operated a small potato farm just off the south coast of St. Louis, MO.
            artile.box
                h2 FRONT-END DEV
                p Gary tinkers with front-end web development tools. That's kind of his hobby and he thinks that doesn't make him any more of a nerd than building bird houses or playing golf.
                a(href="/gary") LEARN MORE!
            artile.box
                h2 AEROSPACE
                p Since January the family has been working hard with the US government to create a new type of fighter jet.
