doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title The web site is under construction
            
        meta(name="robots", content="noindex,nofollow")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width")
        
        link(rel="stylesheet", href="css/style.css")
    body
        #PageOutline
            h1 This web site has just been created from <a href="http://www.dotnetpanel.com">DotNetPanel</a> and it is still under construction.
            p #{revDate}
            p
                a.gary(href="/gary") Gary
