body {
    font: 15px arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #cbcbcb;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    a {
        //background-color: blue;
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        text-decoration: none;
        font-size: 110%;
        color: black;
        &:hover {
            background-color: silver;
        }
        &:active {
            background-color: white;
        }
    }
}
