.main
    section
        h1 Areas of Interest
        ul
            li
                a(href="http://typescriptlang.org") TypeScript
                .desc TypeScript is a typed superset of JavaScript that compiles to plain JavaScript.
            li
                a(href="http://angularjs.org") AngularJS
                .desc HTML enhanced for web apps!
            li
                a(href="http://gulpjs.com") Gulp
                .desc Automate and enhance your workflow
            li
                a(href="https://developers.google.com/maps/documentation/javascript/") Google Maps JavaScript API
                .desc Customize maps with your own content and imagery
            li
                a(href="http://yeoman.io/") Yeoman
                .desc Scaffolding tool for modern webapps
    section
        h1 Projects
        p 
            span All my projects are available on 
            a(href="https://github.com/GaryB432") Github
    section
        h1 Artistic
        ul
            li
                a(href="#/theater") Theater Work
    aside
        a.twitter-follow-button(data-show-count="false",data-size="large",href="https://twitter.com/garybort") Follow Me
        iframe(src="https://ghbtns.com/github-btn.html?user=GaryB432&type=follow",allowtransparency="true",frameborder="0",scrolling="0",width="132",height="20")
