.main
    section
        h1 Areas of Interest
        ul.top
            li
                a(href="http://angularjs.org") AngularJS
                .desc HTML enhanced for web apps!
            li
                a(href="http://typescriptlang.org") TypeScript
                .desc TypeScript is a typed superset of JavaScript that compiles to plain JavaScript.
            li
                a(href="http://gulpjs.com") Gulp
                .desc Automate and enhance your workflow
            li
                a(href="https://developers.google.com/maps/documentation/javascript/") Google Maps JavaScript API
                .desc Customize maps with your own content and imagery
    section
        h1 Projects
        ul.top
            li
                a(href="https://github.com/GaryB432/homer-ng") Homer
                .desc
                    span How far from home are you? Now you will always know. Just visit 
                    a(href="https://bortosky.com/mobile/homer") https://bortosky.com/mobile/homer
                    span  on your mobile web browser.
                ul.detail
                    li AngularJS
                    li Location Services
                    li Google Maps Geometry and Static Maps API
            li
                a(href="https://github.com/GaryB432/generator-vs-angular") Yeoman Generator
                .desc Generate starter Visual Studio Projects with an opinionated development stack
                ul.detail
                    li AngularJS
                    li TypeScript
                    li
                        a(href="https://github.com/yeoman/yo") yo
                        span - the scaffolding tool from Yeoman
                    li
                        a(href="http://bower.io") bower
                        span - the package management tool
                    li
                        a(href="http://gruntjs.com") grunt
                        span - the build tool
                    li LESS

            li
                a(href="https://github.com/GaryB432/generator-gb-ts") Another Yeoman Generator
                .desc Generate starter project without Visual Studio extras
                ul.detail
                    li AngularJS
                    li TypeScript
                    li
                        a(href="https://github.com/yeoman/yo") yo
                        span - the scaffolding tool from Yeoman
                    li
                        a(href="http://bower.io") bower
                        span - the package management tool
                    li
                        a(href="http://gulpjs.com") gulp
                        span - Automate and enhance your workflow
                    li SASS
    section
        h1 Artistic
        ul.top
            li
                a(href="#/theater") Theater Work
    aside
        a.twitter-follow-button(data-show-count="false",data-size="large",href="https://twitter.com/garybort") Follow Me
        iframe(src="https://ghbtns.com/github-btn.html?user=GaryB432&type=follow",allowtransparency="true",frameborder="0",scrolling="0",width="132",height="20")
