.main
    section
        h1 Areas of Interest
        ul.top
            li
                a(href="http://angularjs.org") AngularJS
                .desc HTML enhanced for web apps!
            li
                a(href="http://typescriptlang.org") TypeScript
                .desc TypeScript is a typed superset of JavaScript that compiles to plain JavaScript.
    section
        h1 Projects
        ul.top
            li
                a(href="https://github.com/GaryB432/homer-ng") Homer
                .desc
                    span How far from home are you? Now you will always know. Just visit 
                    a(href="http://bortosky.com/mobile/homer") http://bortosky.com/mobile/homer
                    span  on your mobile web browser.
                ul.detail
                    li AngularJS
                    li Location Services
                    li Google Maps Geometry and Static Maps API
            li
                a(href="https://github.com/GaryB432/generator-vs-angular") Yeoman Generator
                .desc Generate starter Visual Studio Projects with an opinionated development stack
                ul.detail
                    li AngularJS
                    li TypeScript
                    li
                        a(href="https://github.com/yeoman/yo") yo
                        span - the scaffolding tool from Yeoman
                    li
                        a(href="http://bower.io") bower
                        span - the package management tool
                    li
                        a(href="http://gruntjs.com") grunt
                        span - the build tool
                    li LESS
    section
        h1 Artistic
        ul.top
            li
                a(href="#/theater") Theater Work
    aside
        a.twitter-follow-button(data-show-count="false",data-size="large",href="https://twitter.com/garybort") Follow Me
        iframe(src="http://ghbtns.com/github-btn.html?user=GaryB432&type=follow",allowtransparency="true",frameborder="0",scrolling="0",width="132",height="20")
