.theater
    h2 Theater Resume
    table.shows
        thead
            tr
                th Show
                th Opening
                th Company
                th Role
        tbody
            tr(gb-role ng-repeat="show in vm.shows | orderBy: 'opening':true")
    production-chart(years="vm.annualReport")
    
