.theater
    h2 Theater Resume
    table.theater
        thead
            tr
                th Show
                th Opening
                th Company
                th Role
        tbody
            tr(gb-role ng-repeat="show in shows | orderBy: 'opening':true")
