.cd {
  overflow: hidden;
  width: 304px;
}
.track {
  display: flex;
  > div {
    flex: 1 0 auto;
    margin: 12px 2px;
    width: 300px;
  }
}

.coords {
  background-color: #c0c0c0;
  padding: 0.4em;
  font-size: 0.6em;
}
