<div *ngIf="ready; else elseBlock">
  <h2>
    Current
  </h2>
  <bfam-spot [spot]="last"></bfam-spot>
  <div class="distance">
    <span class="km">{{ distance | bfamDistance:'km' }} km</span>
    <span class="mi">{{ distance | bfamDistance:'mi' }} mi</span>
  </div>
  <button (click)="setCurrent($event)">Set Current</button>
  <div>
    <img id="map" [src]="mapUrl">
  </div>
  <h2>
    Home
  </h2>
  <bfam-location [location]="home"></bfam-location>
</div>
<button (click)="setHome($event)">Set Home</button>
<ng-template #elseBlock>
  <div>
    Click
    <i>Set Home</i> when you are at home!
  </div>
</ng-template>
<footer>v11.17</footer>