div {
  .theater {
    margin: 10px;
    h2 {
      font-size: 120%;
      font-weight: 700;
      margin-bottom: 6px;
    }
  }
}

table {
  &.shows {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 80%;
    td,
    th {
      padding: 6px;
      text-align: left;
      border: thin solid silver;
    }
  }
}
