img {
  &.pic {
    width: 100px;
    height: 100px;
  }
}

.qrs {
  align-items: center;
  flex-direction: column;
  display: flex;
  gap: 5em;
  .qr {
    img {
      width: 300px;
      height: 300px;
    }
    .caption {
      font-size: 2rem;
      text-align: center;
    }
  }
}
