doctype html
html(lang="en", ng-app="app")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Gary Bortosky
        meta(name="robots", content="noindex,nofollow")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="css/style.css")
    body
        nav
            a(href="../") Bortosky.com
            a(href="#/") Gary
            a(href="../mobile/homer") homer
            a(href="../map") map
        div(ng-view="")
        script(src="../bower_components/angular/angular.js")
        script(src="../bower_components/angular-animate/angular-animate.js")
        script(src="../bower_components/angular-route/angular-route.js")
        script(src="../bower_components/angular-route/angular-route.js")
        script(src="https://www.google.com/jsapi")
        script(src="js/main.js")
        script.
            window.twttr = (function (d, s, id) {
                var t, js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src= "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
                }(document, "script", "twitter-wjs"));
        script.
            var outsideAngularViz = new Google.Viz();
            outsideAngularViz.start();
