<div class="main">
	<section>
		<h1>Areas of Interest</h1>
		<article>
			<h1><a href="http://typescriptlang.org">TypeScript</a></h1>
			<p>TypeScript is a typed superset of JavaScript that compiles to plain JavaScript. I have used it
				<a href="https://en.wikipedia.org/wiki/TypeScript#History">since it came out as 0.8 in 2012</a> and grown with it through
				versions 1 and now 2.
			</p>
			<p>If you see me on the street ask me about <a href="http://typescriptlang.org">TypeScript</a>.</p>

		</article>
		<article>
			<h1><a href="https://angular.io/">Angular2</a></h1>
			<p>One Framework. Mobile &amp; desktop.</p>
		</article>
		<article>
			<h1><a href="http://gulpjs.com">Gulp</a></h1>
			<p>Automate and enhance your workflow. Although most of my projects now
				<a href="https://medium.freecodecamp.com/why-i-left-gulp-and-grunt-for-npm-scripts-3d6853dd22b8#.tb0ykpz3x">use plain npm scripts</a>.
			</p>
		</article>
		<article>
			<h1><a href="https://developers.google.com/maps/documentation/javascript/">Google Maps JavaScript API</a></h1>
			<p>Customize maps with your own content and imagery</p>
		</article>
		<article>
			<h1><a href="http://yeoman.io/">Yeoman</a></h1>
			<p>The Web's scaffolding tool for modern webapps. I have dabbled with creating my own generators and have contributed to existing ones.</p>
		</article>
	</section>
	<section>
		<h1>Side Projects</h1>
		<article>
			<p>All my projects are open source and available on my <a href="https://github.com/GaryB432">Github</a> page</p>
		</article>
	</section>
	<section>
		<h1>Artistic</h1>
		<article>
			<p>I made an Angular2 component to show my <a [routerLink]="['../theater']">theater resume</a> including a gratuitous chart
				using the <a href="https://developers.google.com/chart/interactive/docs/reference">Google Visualization API</a> basics.</p>
		</article>
	</section>
	<iframe src="https://ghbtns.com/github-btn.html?user=GaryB432&amp;type=follow" allowtransparency="true" frameborder="0" scrolling="0"
		width="132" height="20"></iframe>
</div>