<div class="main">
    <section>
        <h1>Areas of Interest</h1>
        <ul>
            <li><a href="http://typescriptlang.org">TypeScript</a>
                <div class="desc">TypeScript is a typed superset of JavaScript that compiles to plain JavaScript.</div>
            </li>
            <li><a href="http://angularjs.org">AngularJS</a>
                <div class="desc">HTML enhanced for web apps!</div>
            </li>
            <li><a href="http://gulpjs.com">Gulp</a>
                <div class="desc">Automate and enhance your workflow</div>
            </li>
            <li><a href="https://developers.google.com/maps/documentation/javascript/">Google Maps JavaScript API</a>
                <div class="desc">Customize maps with your own content and imagery</div>
            </li>
            <li><a href="http://yeoman.io/">Yeoman</a>
                <div class="desc">Scaffolding tool for modern webapps</div>
            </li>
        </ul>
    </section>
    <section>
        <h1>Projects</h1>
        <p> <span>All my projects are available on my </span><a href="https://github.com/GaryB432">Github</a><span> page</span></p>
    </section>
    <section>
        <h1>Artistic</h1>
        <ul>
            <li><a [routerLink]="['../theater']">Theater work</a></li>
        </ul>
    </section>
    <iframe src="https://ghbtns.com/github-btn.html?user=GaryB432&amp;type=follow" allowtransparency="true" frameborder="0" scrolling="0"
        width="132" height="20"></iframe>
</div>