:host {
    display: block;
}

@mixin margin-guy {
    margin: 8px 0;
}

div.main { 
    margin: 20px;
    section {
        margin: 20px 0;
    }
    h1 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 4px;
    }
    ul {
        list-style-type: none;
        li {
            @include margin-guy;
        }
    }
    p {
        @include margin-guy;
    }

}
