<section id="services">
  <article class="box">
    <h2>POTATOES</h2>
    <p>Before we started doing this stuff, we operated a small potato farm just off the south coast of St. Louis, MO.</p>
  </article>
  <article class="box">
    <h2>FRONT-END DEV</h2>
    <p>Gary tinkers with front-end web development tools. That's kind of his hobby and he thinks that doesn't make him any more
      of a nerd than building bird houses or playing golf.
    </p>
    <p>
      <a [routerLink]="['/gary']">LEARN MORE!</a>
    </p>
  </article>
  <article class="box">
    <h2>AEROSPACE</h2>
    <p>Since January the family has been working hard with the US government to create a new type of fighter jet.</p>
  </article>
</section>