body {
  color: #444444;
  background-color: #E5F2FF;
  font-family: verdana;
  margin: 0px; }

#PageOutline {
  text-align: center;
  margin-top: 300px; }

a {
  color: #0153A4; }

h1 {
  font-size: 16pt;
  margin-bottom: 4px; }

h2 {
  font-size: 14pt;
  margin-bottom: 4px;
  font-weight: normal; }

a.gary {
  font-size: 10pt; }
